<div class="reward-list-container">
  <h2>Gerenciamento de Recompensas</h2>

  <div class="actions">
    <a routerLink="/reward-management/grant" class="btn btn-primary">Conceder Recompensa</a>
    <button (click)="seedInitialRewards()" class="btn btn-secondary">Semear Recompensas Iniciais</button>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="rewards$ | async as rewards; else loadingOrEmpty">
    <div *ngIf="rewards.length > 0; else noRewards">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Marco (Milestone)</th>
            <th>Nome</th>
            <th>Conceito do Design</th>
            <th>Paleta de Cores</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reward of rewards">
            <td>{{ reward.id }}</td>
            <td>{{ reward.milestone }}</td>
            <td>{{ reward.name }}</td>
            <td>{{ reward.designConcept }}</td>
            <td>{{ reward.colorPalette }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #loadingOrEmpty>
    <div *ngIf="!(rewards$ | async) && !error" class="loading-message">
      Carregando recompensas...
    </div>
  </ng-template>

  <ng-template #noRewards>
    <div *ngIf="!error" class="empty-message">
      Nenhuma recompensa encontrada. Você pode tentar semear as recompensas iniciais.
    </div>
  </ng-template>
</div>
