<header class="header">
  <div class="header-content">
    <div class="logo">
      <a routerLink="/">AA Space</a>
    </div>

    <!-- Hamburger Icon -->
    <button type="button" class="menu-toggle" (click)="toggleMenu()">
      <span>&#9776;</span> <!-- Unicode for hamburger icon -->
    </button>

    <nav class="nav-links" [class.active]="isMenuOpen">
      <a routerLink="/" class="nav-link" (click)="isMenuOpen = false">Início</a>
      <a routerLink="/create" class="nav-link" (click)="isMenuOpen = false">Compartilhar História</a>
      <a *ngIf="isLoggedIn" routerLink="/chat" class="nav-link" (click)="isMenuOpen = false">
        Chat
        <span *ngIf="totalUnreadMessages > 0" class="unread-badge badge">{{ totalUnreadMessages }}</span>
      </a>
      <a *ngIf="isAdmin" routerLink="/admin" class="nav-link admin-link" (click)="isMenuOpen = false">Administração</a>
    </nav>
    <div class="auth-buttons">
      <ng-container *ngIf="!isLoggedIn">
        <span class="guest-info" *ngIf="guestNickname">{{ guestNickname }}</span>
        <button (click)="login()" class="auth-button">Entrar</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <span class="username">{{ username }}</span>
        <span *ngIf="isAdmin" class="admin-badge">Admin</span>
        <button (click)="logout()" class="auth-button">Sair</button>
      </ng-container>
    </div>
  </div>
</header>
