<header class="header">
  <div class="header-content">
    <div class="logo">
      <a routerLink="/">AA Space</a>
    </div>
    <nav class="nav-links">
      <a routerLink="/" class="nav-link">Início</a>
      <a routerLink="/create" class="nav-link">Compartilhar História</a>
      <a *ngIf="isLoggedIn" routerLink="/chat" class="nav-link">Chat</a>
      <a *ngIf="isAdmin" routerLink="/admin" class="nav-link admin-link">Administração</a>
    </nav>
    <div class="auth-buttons">
      <ng-container *ngIf="!isLoggedIn">
        <span class="guest-info" *ngIf="guestNickname">{{ guestNickname }}</span>
        <button (click)="login()" class="auth-button">Entrar</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <span class="username">{{ username }}</span>
        <span *ngIf="isAdmin" class="admin-badge">Admin</span>
        <button (click)="logout()" class="auth-button">Sair</button>
      </ng-container>
    </div>
  </div>
</header>
